.tShirt-container {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 8px;
    padding: 8px;
    height: 400px;
    position: relative;
}

.tShirt-container img {
    height: 250px;
    border-radius: 10px;
}

.add-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    color: orange;
    font-size: 18px;
    padding: 10px;
}

.add-btn:hover {
    background-color: aquamarine;
}